python-dotenv==1.1.1; python_version >= '3.9'
fastapi>=0.115.0,<1.0
uvicorn[standard]>=0.34.0,<1.0
pypdf==5.7.0; python_version >= '3.8'
langchain==0.3.26; python_version >= '3.9'
langchain-community==0.3.27; python_version >= '3.9'
langchain-core==0.3.68; python_version >= '3.9'
langchain-groq==0.3.5; python_version >= '3.9'
langchain-huggingface==0.3.0; python_version >= '3.9'
langchain-text-splitters==0.3.8; python_version >= '3.9' and python_version < '4.0'
langsmith==0.4.4; python_version >= '3.9'
faiss-cpu==1.11.0; python_version >= '3.9'
sentence-transformers==5.0.0; python_version >= '3.9'
ragas
datasets
pandas
groq
